<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">
                                Exotic Burgers
                            </h2>
                            <p data-animation="fadeInUp" data-delay="700ms">
                                Make delicious burgers right at home. It can't get any easier than this.
                            </p>
                            <!-- <a
                                href="/burger"
                                class="btn delicious-btn"
                                data-animation="fadeInUp"
                                data-delay="1000ms"
                                >See Recipe</a
                            > -->
                            <form action="/featured/burger" method="POST">
                                <button
                                    type="submit"
                                    class="btn delicious-btn"
                                    data-animation="fadeInUp"
                                    data-delay="1000ms"
                                >
                                    See Recipe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg6.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">
                                Make at home, eat healthy
                            </h2>
                            <p data-animation="fadeInUp" data-delay="700ms">
                                Make finger-licking foods right at the comfort of your house.
                            </p>
                            <!-- <a
                                href="/salads"
                                class="btn delicious-btn"
                                data-animation="fadeInUp"
                                data-delay="1000ms"
                                >See Recipe</a
                            > -->
                            <form action="/featured/salads" method="POST">
                                <button
                                    type="submit"
                                    class="btn delicious-btn"
                                    data-animation="fadeInUp"
                                    data-delay="1000ms"
                                >
                                    See Recipe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg7.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">
                                Take your desserts up a notch
                            </h2>
                            <p data-animation="fadeInUp" data-delay="700ms">
                                Make mouth watering desserts with our easy-to-use website.
                            </p>
                            <!-- <a
                                href="/desserts"
                                class="btn delicious-btn"
                                data-animation="fadeInUp"
                                data-delay="1000ms"
                                >See Recipe</a
                            > -->
                            <form action="/featured/desserts" method="POST">
                                <button
                                    type="submit"
                                    class="btn delicious-btn"
                                    data-animation="fadeInUp"
                                    data-delay="1000ms"
                                >
                                    See Recipe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
