<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title -->
        <title>OffThePan | Contact</title>

        <!-- Favicon -->
        <link rel="icon" href="img/core-img/favicon.ico" />

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <%- include("partials/header") %>
        <!-- header -->

        <!-- ##### Breadcumb Area Start ##### -->
        <div
            class="breadcumb-area bg-img bg-overlay"
            style="background-image: url(img/bg-img/breadcumb4.jpg);"
        >
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="breadcumb-text text-center">
                            <h2>Contact me</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcumb Area End ##### -->

        <!-- ##### Contact Information Area Start ##### -->
        <div class="contact-information-area section-padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="logo mb-80">
                            <img src="img/core-img/logo.png" alt="" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Contact Text -->
                    <div class="col-12 col-lg-5">
                        <div class="contact-text">
                            <p>
                                This website is made keeping education in mind.
                            </p>
                            <p>
                                Should you use this as a commercial site, I will not be responsible for any
                                misbehaviour of this site.
                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <!-- Single Contact Information -->
                        <div class="single-contact-information mb-30">
                            <h6>Address:</h6>
                            <p>Yelahanka New Town <br />Bengaluru, Karnataka <br />India</p>
                        </div>
                        <!-- Single Contact Information -->
                        <div class="single-contact-information mb-30">
                            <h6>Discord:</h6>
                            <p><a href="https://discord.gg/a7PyT38">Click here</a></p>
                        </div>
                        <!-- Single Contact Information -->
                        <div class="single-contact-information mb-30">
                            <h6>Email:</h6>
                            <p>kaushal.bhat@yahoo.com</p>
                        </div>
                    </div>

                    <!-- Newsletter Area -->
                    <div class="col-12 col-lg-4">
                        <div
                            class="newsletter-form bg-img bg-overlay"
                            style="background-image: url(img/core-img/kaushal.jpeg);"
                        >
                            <!-- <form action="#" method="post">
                                <input type="email" name="email" placeholder="Subscribe to newsletter" />
                                <button type="submit" class="btn delicious-btn w-100">Subscribe</button>
                            </form> -->
                            <p>
                                Kaushal
                            </p>
                            <p>
                                19, information science and engineering student, a full stack developer,
                                cybersecurity enthusiast, gamer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Contact Information Area End ##### -->

        <!-- ##### Contact Form Area Start ##### -->
        <div class="contact-area section-padding-0-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>Get In Touch</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                            <form action="/contact" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="name"
                                            name="name"
                                            placeholder="Name"
                                        />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="email"
                                            name="contactEmail"
                                            placeholder="E-mail"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="subject"
                                            name="subject"
                                            placeholder="Subject"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <textarea
                                            name="message"
                                            class="form-control"
                                            id="message"
                                            cols="30"
                                            rows="10"
                                            placeholder="Message"
                                        ></textarea>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn delicious-btn mt-30" type="submit">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Contact Form Area End ##### -->

        <!-- ##### Google Maps ##### -->
        <!-- <div class="map-area">
            <div id="googleMap"></div>
        </div> -->

        <!-- ##### Follow Us Instagram Area Start ##### -->
        <!-- <div class="follow-us-instagram">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5>Follow Us Instragram</h5>
                    </div>
                </div>
            </div>
            
            <div class="insta-feeds d-flex flex-wrap">
                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta1.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta2.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta3.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta4.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta5.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta6.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta7.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- ##### Follow Us Instagram Area End ##### -->

        <!-- ##### Footer Area Start ##### -->
        <%- include("partials/footer") %>
        <!-- ##### Footer Area Start ##### -->

        <!-- ##### All Javascript Files ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>
    </body>
</html>
