<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title -->
        <title>OffThePan | Search</title>

        <!-- Favicon -->
        <link rel="icon" href="img/core-img/favicon.ico" />

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="style.css" />
        <style type="text/css">
            .scrollable {
              overflow: auto;
              width: 70px; /* adjust this width depending to amount of text to display */
              height: 70px; /* adjust height depending on number of options to display */
            }
            /* .scrollable select {
              border: none;
            } */
        </style>
    </head>

    <body>
        <%- include("partials/header") %>
        <!-- header -->

        <!-- ##### Breadcumb Area Start ##### -->
        <div
            class="breadcumb-area bg-img bg-overlay"
            style="background-image: url(img/bg-img/breadcumb4.jpg);"
        >
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="breadcumb-text text-center">
                            <h2>Search</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcumb Area End ##### -->
        <section><br /><br /></section>

        <!-- ##### Contact Form Area Start ##### -->
        <div class="contact-area section-padding-0-80">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>Search</h3>
                        </div>
                    </div>
                </div> -->

                <div class="col-12">
                    <div class="delicious-tabs-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    id="tab--1"
                                    data-toggle="tab"
                                    href="#tab1"
                                    role="tab"
                                    aria-controls="tab1"
                                    aria-selected="false"
                                    >Search By Cuisine</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    id="tab--2"
                                    data-toggle="tab"
                                    href="#tab2"
                                    role="tab"
                                    aria-controls="tab2"
                                    aria-selected="false"
                                    >Search by ingredients</a
                                >
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    id="tab--3"
                                    data-toggle="tab"
                                    href="#tab3"
                                    role="tab"
                                    aria-controls="tab3"
                                    aria-selected="true"
                                    >Search by Nutrients</a
                                >
                            </li>
                        </ul>

                        <div class="tab-content mb-80" id="myTabContent">
                            <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                <div class="delicious-tab-content">
                                    <!-- Tab Text -->
                                    <div class="delicious-tab-text">
                                        <!-- <p>
                                            Integer nec bibendum lacus. Praesent malesuada congue, Suspendisse
                                            dictum enim sit amet libero malesu ada feugiat. Praesent malesuada
                                            congue magna at finibus. In hac habitasse platea dictumst.
                                            Curabitur rhoncus auctor eleifend. Praesent malesuada congue.
                                        </p> -->
                                        <!--#################-->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="contact-form-area">
                                                    <form action="/cuisineSearch" method="post">
                                                        <div class="row">
                                                            
                                                                <!-- <textarea
                                                                    name="ingredients"
                                                                    class="form-control"
                                                                    id="textbox"
                                                                    cols="15"
                                                                    rows="5"
                                                                    placeholder="Type any cuisine..."
                                                                ></textarea> -->
                                                                <div class="col-12 col-lg-3 scrollable">
                                                                    <select name="cuisine" id="select1" size="3" multiple="" >
                                                                        <option value="" disabled selected hidden>Select cuisine</option>
                                                                        <option value="african">African</option>
                                                                        <option value="american">American</option>
                                                                        <option value="british">British</option>
                                                                        <option value="cajun">Cajun</option>
                                                                        <option value="caribbean">Caribbean</option>
                                                                        <option value="chinese">Chinese</option>
                                                                        <option value="european">European</option>
                                                                        <option value="french">French</option>
                                                                        <option value="german">German</option>
                                                                        <option value="greek">Greek</option>
                                                                        <option value="indian">Indian</option>
                                                                        <option value="irish">Irish</option>
                                                                        <option value="italian">Italian</option>
                                                                        <option value="japanese">Japanese</option>
                                                                        <option value="jewish">Jewish</option>
                                                                        <option value="korean">Korean</option>
                                                                        <option value="mediterranean">Mediterranean</option>
                                                                        <option value="mexican">Mexican</option>
                                                                        <option value="nordic">Nordic</option>
                                                                        <option value="southern">Southern</option>
                                                                        <option value="spanish">Spanish</option>
                                                                        <option value="thai">Thai</option>
                                                                        <option value="vietnamese">Vietnamese</option>
                                                                    </select>
                                                                </div>

                                                                <div class="col-12 col-lg-3 scrollable">
                                                                    <select name="diet" id="select1" size="3" multiple="" >
                                                                        <option value="" disabled selected hidden>Select diet</option>
                                                                        <option value="vegetarian">Vegetarian</option>
                                                                        <option value="vegan">Vegan</option>
                                                                        <option value="whole30">Normal</option>
                                                                    </select>
                                                                </div>
                                                                <br><br><br><br><br>
                                                                <!-- <div class="col-12">
                                                                    <input
                                                                        type="text"
                                                                        class="form-control"
                                                                        id="intolerances"
                                                                        name="intolerances"
                                                                        placeholder="Intolerances"
                                                                    />
                                                                </div> -->
                                                                <div class="col-12 col-lg-3 scrollable">
                                                                    <select name="intol" id="select1" size="3" multiple="" >
                                                                        <option value="none" disabled selected hidden>Select intolerance</option>
                                                                        <option value="dairy">Dairy</option>
                                                                        <option value="egg">Egg</option>
                                                                        <option value="gluten">Gluten</option>
                                                                        <option value="grain">Grain</option>
                                                                        <option value="peanut">Peanut</option>
                                                                        <option value="seafood">Seafood</option>
                                                                        <option value="sesame">Sesame</option>
                                                                        <option value="shellfish">Shellfish</option>
                                                                        <option value="soy">Soy</option>
                                                                        <option value="sulfite">Sulfite</option>
                                                                        <option value="wheat">Wheat</option>
                                                                        
                                                                    </select>
                                                                </div>
                                                                <!-- <br><br><br>
                                                                <div class="col-12">
                                                                    <input
                                                                        type="text"
                                                                        class="form-control"
                                                                        id="excludeIngre"
                                                                        name="excludeIngre"
                                                                        placeholder="Exclude Ingredients if any"
                                                                    />
                                                                </div> -->
                                                           

                                                            <!-- <div class="col-12 text-center">
                                                                <p>
                                                                    You can either type out the ingredients or
                                                                    you can speak and we will take down the
                                                                    ingredients for you!<br />
                                                                    Hit the Start button to start recording
                                                                    and send it once you're done!
                                                                </p>
                                                                <button
                                                                    class="btn delicious-btn mt-30"
                                                                    type="button"
                                                                    id="start-btn"
                                                                    title="Start"
                                                                >
                                                                    Start recording
                                                                </button>
                                                                <button
                                                                    class="btn delicious-btn mt-30"
                                                                    type="button"
                                                                    id="stop-btn"
                                                                    title="Stop"
                                                                >
                                                                    Stop recording
                                                                </button>
                                                            </div> -->

                                                            <div class="col-12 text-center">
                                                                <button
                                                                    class="btn delicious-btn mt-30"
                                                                    type="submit"
                                                                >
                                                                    Search
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!--#################-->
                                    </div>
                                </div>
                            </div>
                            <div
                                class="tab-pane fade show active"
                                id="tab2"
                                role="tabpanel"
                                aria-labelledby="tab--2"
                            >
                                <div class="delicious-tab-content">
                                    <!-- Tab Text -->
                                    <div class="delicious-tab-text">
                                        
                                        <!--#################-->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="contact-form-area">
                                                    <form action="/ingredientSearch" method="post">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <textarea
                                                                    name="ingredients"
                                                                    class="form-control"
                                                                    id="textbox"
                                                                    cols="15"
                                                                    rows="5"
                                                                    placeholder="Type ingredients separated by a comma (,)"
                                                                ></textarea>
                                                            </div>

                                                            <div class="col-12 text-center">
                                                                <p>
                                                                    [experimental]<br><br>
                                                                    You can speak out the ingredients or upload a 
                                                                    screenshot of them, saving you the hassle of typing!<br>
                                                                    You can either type out the ingredients or
                                                                    you can speak and we will take down the
                                                                    ingredients for you!<br />
                                                                    Hit the Start button to start recording
                                                                    and search it once you're done!
                                                                    
                                                                </p>
                                                                
                                                                <button
                                                                    class="btn delicious-btn mt-30"
                                                                    type="button"
                                                                    id="start-btn"
                                                                    title="Start"
                                                                >
                                                                    Start recording
                                                                </button>
                                                                <button
                                                                    class="btn delicious-btn mt-30"
                                                                    type="button"
                                                                    id="stop-btn"
                                                                    title="Stop"
                                                                >
                                                                    Stop recording
                                                                </button>
                                                                <br><br>
                                                                <!-- <p>
                                                                    If you already have taken a screenshot of the ingredients,
                                                                    upload the image. We will read through the text and tell you!
                                                                </p> -->
                                                                <h5>
                                                                    Status: <span id="readStatus" style="opacity: 0.6;">Not uploaded</span>
                                                                    <img id="loadingGif" width="195px" />
                                                                </h5>
                                                                <input
                                                                    class="btn delicious-btn mt-30"
                                                                    type="file"
                                                                    accept="image/*"
                                                                    name="image"
                                                                    id="file"
                                                                    onchange="loadFile(event)"
                                                                    style="display: none;"
                                                                    
                                                                />
                                                                <button class="btn delicious-btn mt-30" type="button">
                                                                    <label for="file" style="cursor: pointer;">Upload Image</label>
                                                                </button>
                                                            </div>

                                                            <div class="col-12 text-center">
                                                                <button
                                                                    class="btn delicious-btn mt-30"
                                                                    type="submit"
                                                                >
                                                                    Submit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!--#################-->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                                <div class="delicious-tab-content">
                                    <!-- Tab Text -->
                                    <div class="delicious-tab-text">
                                        <p>
                                            Integer nec bibendum lacus. Praesent malesuada congue, Suspendisse
                                            dictum enim sit amet libero malesu ada feugiat. Praesent malesuada
                                            congue magna at finibus. In hac habitasse platea dictumst.
                                            Curabitur rhoncus auctor eleifend. Praesent malesuada congue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--#########################################################################################################################################-->

                <!-- <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                            <form action="/contact" method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="name"
                                            name="name"
                                            placeholder="Name"
                                        />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="email"
                                            name="contactEmail"
                                            placeholder="E-mail"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="subject"
                                            name="subject"
                                            placeholder="Subject"
                                        />
                                    </div>
                                    <div class="col-12">
                                        <textarea
                                            name="message"
                                            class="form-control"
                                            id="message"
                                            cols="30"
                                            rows="10"
                                            placeholder="Message"
                                        ></textarea>
                                    </div>

                                    <div class="col-12 col-lg-3">
                                        <select name="select1" id="select1">
                                            <option value="1">All Receipies Categories</option>
                                            <option value="1">All Receipies Categories 2</option>
                                            <option value="1">All Receipies Categories 3</option>
                                            <option value="1">All Receipies Categories 4</option>
                                            <option value="1">All Receipies Categories 5</option>
                                        </select>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn delicious-btn mt-30" type="submit">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- ##### Contact Form Area End ##### -->

        <!-- ##### Google Maps ##### -->
        <!-- <div class="map-area">
            <div id="googleMap"></div>
        </div> -->

        <!-- ##### Follow Us Instagram Area Start ##### -->
        <!-- <div class="follow-us-instagram">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5>Follow Us Instragram</h5>
                    </div>
                </div>
            </div>
            
            <div class="insta-feeds d-flex flex-wrap">
                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta1.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta2.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta3.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta4.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta5.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta6.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta7.jpg" alt="" />
                    
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- ##### Follow Us Instagram Area End ##### -->

        <!-- ##### Footer Area Start ##### -->
        <%- include("partials/footer") %>
        <!-- ##### Footer Area Start ##### -->

        <!-- ##### All Javascript Files ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>
        <!-- Voice recognition js -->
        <script src="js/script.js"></script>
        <!-- Text recognition -->
        <script src="https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js"></script>
        <script src="js/ocr.js"></script>
    </body>
</html>
